<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer style="height: 35px;" class="d-flex justify-content-center align-items-center bg-primary-subtle fixed-bottom">
        <p class="m-0 p-0">Where is the ISS Copyright</p>
    </footer>
    
</body>
</html>