<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where is the ISS?</title>
    <link rel="stylesheet" href="/bootstrap-5.3.8-dist/css/bootstrap.min.css" />
    <style>
        body {
            background-color: blanchedalmond;
        }
    </style>

</head>
<body>
    <header style="height: 100px; z-index: 1;" class="d-flex justify-content-center align-items-center bg-black text-white">
        <h1>
            Where in the World is the ISS?
        </h1>
    </header>
</body>
</html>