<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where is the ISS?</title>
    <link rel="icon" type="image/png" href="/images/iss.png" />
    <link rel="stylesheet" href="/bootstrap-5.3.8-dist/css/bootstrap.min.css" />
    <style>
        /* body {
            background-image: url("./images/galaxy.jpg");
        } */
    </style>

</head>
<body>
    <header style="height: 100px; z-index: 1;" class="d-flex justify-content-center align-items-center bg-black text-white">
        <h1>
            Where in the World is the ISS?
        </h1>
    </header>
    <script src="three.r134.min.js"></script>
<script src="vanta.clouds.min.js"></script>
<script>
VANTA.CLOUDS({
  el: "body",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 1000,
  minWidth: 800
})
</script>
</body>
</html>