<%- include("./partials/header.ejs") %>

<div style="height: 600px; position: relative; z-index: 100;" class="d-flex flex-column justify-content-center align-items-center">
    <img src="./images/SpaceStation.png" style="width: 30%; margin-right: 20px;"/>
    <a class="btn btn-primary mt-5" href="/map">Find ISS</a>
</div>

<%- include("./partials/footer.ejs") %>