<%- include("./partials/header.ejs") %>

<div style="height: 600px;" class="d-flex justify-content-center align-items-center">
    <a class="btn btn-primary mt-5" href="/map">Find ISS</a>
</div>

<%- include("./partials/footer.ejs") %>